@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #202025;
  padding-top: 5%;
}

.animate{
  animation: scale-in-hor-left 0.5s (0.250, 0.460, 0.450, 0.940) both;
}

#personalData{
  padding-left: 3%;
}

.container {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #fffffe;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #202025;
  -webkit-box-shadow: 17px 17px 34px #0c0c0f, -17px -17px 34px #202025;
  box-shadow: 17px 17px 34px #0c0c0f, -17px -17px 34px #202025;
}

.container p{
  margin-right: 20%;
  text-align: justify;
  padding-bottom: 5%;
}

.container h2{
  padding-top: 2%;
  padding-left: 2%;
}

.educationLogo {
  filter: saturate(10);
  mix-blend-mode: multiply;
  filter: brightness(1.1);
  max-width: 100px;
  max-height: 100px;
  float: right;
}

i {
  font-size: 1.5cm;
  color: #7f5af0; 
}

#project1{
  background-color: #2cb67d;
  border-radius: 50px;
  padding-left: 3%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#project2{
  background-color: #7f5af0;
  border-radius: 50px;
  padding-left: 3%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

a{
  color: white;
}

#portfolio p{
  padding-top: 5%;
}

#portfolio img{
  max-width: 300px;
  max-height: 300px;
  padding-top: 7%;
  border-radius: 50px;  
}

#project2 p{
  padding-left: 10%;
}

#icons{
  display: flex;
  flex-direction: row;
  padding-left: 37%;
}

#extraInfo{
  color: white;
  text-align: center;
}

#extraInfo a{
color: white;
}

/* Bootstrap customization */

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
